@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");
:root {
  --font-family: "Varela Round", sans-serif;
  --name-font-size: 50px;

  --body-font-size: 22px;
  --border-radius: 20px;
  --small: 0.25rem;
  --medium: 0.5rem;
  --large: 1rem;
  --primary-color: crimson;
  --on-primary-color: white;
  --secondary-color: #7d0000;
  --title-color: black;
  --header-font-size: 30px;
  --grid-gap-size: 6px;
  --footer-font-size: 15px;
}

body {
  margin: auto 0;
  background-color: rgb(245, 245, 245);
  font-family: var(--font-family);
  font-size: var(--body-font-size);
  line-height: 1.8;
  display: flex;
  flex-direction: column;
}

strong {
  color: var(--secondary-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.intro-image {
  display: flex;
  justify-content: flex-start;
}

.name {
  font-size: var(--name-font-size);
  text-align: center;
  font-family: "Lobster Two", cursive;
}

.job-title {
  text-align: center;
  padding-bottom: var(--medium);
  font-style: normal;
  font-family: "Poiret One", cursive;
}

.title {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  box-shadow: inset 0px -10px 13px 0px var(--secondary-color);
}
.text-appear {
  animation: fadeEffect 2s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section {
  text-align: justify;
}
.section {
  color: var(--title-color);
  border-radius: var(--border-radius);
  width: max-content;
  padding: var(--small) var(--medium);
  font-size: var(--header-font-size);
  font-family: "Lobster Two", cursive;
}
.projects-section {
  display: grid;
  grid-gap: var(--grid-gap-size);
  grid-template-columns: repeat(4, 1fr);
}
.projects-section img {
  width: 220px;
}

.logos img {
  justify-content: center;
  width: 60px;
  padding: var(--small) var(--medium);
}
.footer {
  background-color: rgb(61, 63, 65);
  margin-top: auto;
}
.footer p,
a {
  color: var(--on-primary-color);
  font-family: var(--font-family "Varela Round", sans-serif);
  font-size: var(--footer-font-size);
}

.animation-element {
  opacity: 1;
  transition: opacity 0.5s 0.25s ease-out;
}
