@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");

:root {
  --body-font-family: "Varela Round", sans-serif;
  --title-font-family: "Poiret One", cursive;
  --subtitle-font-family: "Lobster Two", cursive;
  --name-font-size: 50px;

  --body-font-size: 22px;
  --border-radius: 20px;
  --small: 0.25rem;
  --medium: 0.5rem;
  --large: 1rem;
  --primary-color: crimson;
  --on-primary-color: white;
  --secondary-color: #7d0000;
  --title-color: black;
  --header-font-size: 30px;
  --grid-gap-size: 7px;
  --footer-font-size: 15px;
}

body {
  margin: 0;
  background-color: rgb(245, 245, 245);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: 1.8;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--subtitle-font-family);
  font-size: var(--header-font-size);
}

img {
  width: 100%;
}

strong {
  color: var(--secondary-color);
}

.name {
  font-size: var(--name-font-size);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
}

.intro-image {
  max-width: 200px;
  padding: var(--large);
}

.job-title {
  text-align: center;
  padding-bottom: var(--medium);
  font-style: normal;
  font-family: var(--subtitle-font-family);
}

.title {
  height: 40vh;
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  box-shadow: inset 0px -10px 13px 0px var(--secondary-color);
}

.section {
  color: var(--title-color);
  border-radius: var(--border-radius);
  width: max-content;
  padding: var(--small) var(--medium);
}

.projects-section {
  display: grid;
  grid-gap: var(--grid-gap-size);
  grid-template-columns: repeat(5, 1fr);
  border-bottom-style: inset;
}

.logos img {
  justify-content: center;
  width: 60px;
  padding: var(--small) var(--medium);
}

.footer {
  background-color: rgb(61, 63, 65);
  margin-top: auto;
}

.footer p,
a {
  color: var(--on-primary-color);
  font-size: var(--footer-font-size);
}
.contact {
  color: var(--primary-color);
}

.hide {
  opacity: 0;
  transition: 2s opacity ease;
}

.show {
  opacity: 1;
}

.projects-section img {
  height: 150px;
  overflow: hidden;
}
.projects-section img {
  transition: transform 0.3s ease-in-out;
}
.projects-section img:hover {
  transform: scale(1.5);
  border-radius: var(--medium);
}

.github img:hover {
  background-color: rgb(158, 126, 20);
  transition: 0.2s ease-in-out;
  opacity: 0.8;
  border-radius: var(--medium);
}
.twitter img:hover {
  background-color: rgb(35, 151, 204);
  transition: 0.2s ease-in-out;
  opacity: 0.8;
  border-radius: var(--medium);
}

.linkedin img:hover {
  background-color: rgb(26, 110, 206);
  transition: 0.2s ease-in-out;
  opacity: 0.8;
  border-radius: var(--medium);
}
